@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  color: #222;
  height: 100%;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  font-family: "Lato", sans-serif; }

a {
  text-decoration: none !important; }

.container {
  max-width: 80%;
  margin: 0 auto; }

.header {
  font-size: 3.5rem; }

.section-header {
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.2rem; }
  .section-header--white {
    color: white; }
  .section-header--underline {
    position: relative; }
    .section-header--underline::after {
      content: "";
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -0.5rem;
      height: 0.2rem;
      background: #f17e7b; }

.landing {
  position: relative;
  width: 100%;
  height: 75vh; }
  .landing-header {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 56.25em) {
      .landing-header {
        width: 75%; } }
    @media only screen and (max-width: 37.5em) {
      .landing-header {
        width: 100%; } }
    .landing-header > h1 {
      font-size: 7.5rem;
      font-family: "Great Vibes";
      letter-spacing: 0.5rem;
      font-weight: 300;
      color: white; }
    .landing-header > h5 {
      font-family: "Open Sans Condensed";
      letter-spacing: 0.15rem;
      font-weight: 300;
      color: white;
      font-size: 2rem; }
  .landing-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 10px 20px rgba(34, 34, 34, 0.18), 0 6px 6px rgba(34, 34, 34, 0.25); }
    .landing-image::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(34, 34, 34, 0.5); }
  .landing-cta {
    margin: 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .landing-cta {
        width: 66%;
        margin: 2rem auto; } }
    @media only screen and (max-width: 37.5em) {
      .landing-cta {
        margin: 2rem auto;
        width: 75%; }
        .landing-cta > .btn {
          font-size: 1.5rem !important; } }

.services {
  display: flex;
  padding: 7.5rem 0;
  align-content: center;
  justify-content: space-evenly; }
  @media only screen and (max-width: 37.5em) {
    .services {
      flex-direction: column;
      justify-content: center;
      align-items: center; } }
  .services-card {
    display: grid;
    width: 22.5%;
    padding: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.33);
    grid-template-areas: "img" "header" "description"; }
    @media only screen and (max-width: 37.5em) {
      .services-card {
        width: 50%; } }
    .services-card__img {
      grid-area: img;
      margin: 0 auto;
      width: 7.5rem;
      height: 7.5rem; }
    .services-card__header {
      text-align: center;
      color: #222;
      font-weight: 500;
      margin: 1.5rem auto;
      grid-area: header;
      font-size: 1.75rem;
      letter-spacing: 0.2rem;
      font-family: "Lato", sans-serif; }
    .services-card__description {
      text-align: center;
      line-height: 2.25rem;
      margin: 0 auto;
      letter-spacing: 0.05rem;
      grid-area: description;
      color: rgba(34, 34, 34, 0.85);
      font-size: 1.33rem; }

.testimonials {
  padding: 7.5rem 0;
  background: #243b71; }
  .testimonials-container {
    display: flex;
    margin: 5rem;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .testimonials-container {
        flex-direction: column;
        justify-content: initial;
        align-items: center; } }

.testimonial {
  width: 25%;
  padding: 2.5rem;
  display: grid;
  grid-template-areas: "name" "description" "rating"; }
  @media only screen and (max-width: 37.5em) {
    .testimonial {
      width: 75%; } }
  .testimonial-name {
    grid-area: name;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 1rem 0;
    text-align: center;
    margin: 0 auto; }
  .testimonial-description {
    grid-area: description;
    text-align: center;
    margin: 2rem 0;
    quotes: "“" "”" "‘" "’";
    font-size: 1.25rem;
    line-height: 2.5rem; }
    .testimonial-description::before {
      content: open-quote;
      font-size: 2rem; }
    .testimonial-description::after {
      content: close-quote;
      font-size: 2rem; }
  .testimonial-rating {
    grid-area: rating;
    margin: 0 auto; }
    .testimonial-rating-item {
      width: 2rem;
      margin: 0 0.25rem; }
  .testimonial-underline {
    position: relative; }
    .testimonial-underline::after {
      content: "";
      position: absolute;
      height: 0.2rem;
      background: #f17e7b;
      width: 100%;
      left: 0;
      bottom: -0.5rem; }
  .testimonial > * {
    color: white; }

.gallery {
  padding: 7.5rem 0;
  margin: 0 auto;
  height: 100%; }
  .gallery-header {
    margin-bottom: 5rem;
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: 0.5rem; }
  .gallery-images {
    display: grid;
    margin: 0 auto;
    width: 80%;
    grid-gap: 1rem;
    justify-items: center;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(4, 1fr);
    transition: 0.3s all; }
    @media only screen and (max-width: 56.25em) {
      .gallery-images {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr); }
        .gallery-images:hover {
          grid-gap: none; } }
    @media only screen and (max-width: 37.5em) {
      .gallery-images {
        width: 90%; } }
    .gallery-images:hover {
      grid-gap: 7.5rem;
      transition: 0.3s all; }
  .gallery-image {
    width: 100%;
    z-index: 1;
    position: relative;
    transition: 0.3s transform; }
    .gallery-image:hover {
      z-index: 100;
      transform: scale(1.5);
      transition: 0.3s transform; }
    @media only screen and (max-width: 75em) {
      .gallery-image:hover {
        z-index: 1;
        transform: none; } }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 1000;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .navbar-logo {
    font-size: 2.5rem;
    display: inline-block;
    width: 10%; }
  .navbar-list {
    width: 90%;
    text-align: right;
    list-style-type: none; }
    @media only screen and (max-width: 37.5em) {
      .navbar-list {
        display: none; } }
    .navbar-list > a {
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
      display: inline-block;
      margin: auto 1.5rem;
      padding: 1.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid transparent;
      transition: 0.2s all;
      cursor: pointer; }
      .navbar-list > a:hover {
        border-color: #02b4c0;
        transition: 0.2s all; }
  .navbar-bars {
    display: none; }
    @media only screen and (max-width: 37.5em) {
      .navbar-bars {
        display: block;
        width: 90%;
        text-align: right; } }
    .navbar-bars > i {
      font-size: 2rem;
      color: #02b4c0; }
  .navbar--transparent {
    background: transparent;
    box-shadow: none;
    color: white;
    transition: 0.35s all; }
  .navbar--color {
    background: white;
    box-shadow: 0 3px 6px rgba(34, 34, 34, 0.15), 0 3px 6px rgba(34, 34, 34, 0.25);
    transition: 0.35s all; }
  .navbar--white {
    color: white;
    transition: 0.35s all; }
  .navbar--black {
    color: #222;
    transition: 0.35s all; }

.btn {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0), 0 3px 6px rgba(0, 0, 0, 0);
  cursor: pointer;
  transform: scale(0.98);
  transition: 0.2s all; }
  .btn:hover {
    box-shadow: 0 3px 6px rgba(34, 34, 34, 0.15), 0 3px 6px rgba(34, 34, 34, 0.25);
    background: rgba(2, 180, 192, 0.85);
    transform: scale(1);
    transform: translateY(-0.25rem);
    transition: 0.2s all; }
  .btn--primary {
    background: #02b4c0; }
  .btn--cta {
    padding: 1.5rem 7.5rem; }
