@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");

.header {
  font-size: 3.5rem;
}

.section-header {
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.1rem;
  &--white {
    color: $light-color;
  }
  &--underline {
    position: relative;
    &::after {
      content: "";
      width: 100%;
      left: 0;
      position: absolute;
      bottom: -0.5rem;
      height: 0.2rem;
      background: $secondary-color-light;
    }
  }
}
