.form-section {
  position: fixed;
  z-index: 1005;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  @include respond(tab-port) {
    width: 100%;
  }
}

.form-container {
  padding: 7.5rem;
  padding-top: 5rem;
  box-shadow: $box-shadow-sm;
  background: $light-color;

  @include respond(tab-port) {
    padding: 5rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  &-header {
    position: relative;
    background: $primary-color;
    font-weight: 300;
    font-family: $secondary-font;
    padding: 2.5rem;
    font-size: 2.5rem;
    color: $light-color;
    & > a {
      position: absolute;
      right: 5%;
      cursor: pointer;
    }
  }
  &-btn {
    width: 50%;
    padding: 1rem;
    margin: 2.5rem auto;
    margin-bottom: 0;
  }
  &-input {
    padding: 1rem;
    margin: 0.25rem 0;
    border: none;
    font-family: $tertiary-font;
    border-bottom: 1.25px solid $primary-color;
    outline: none;
    @include transition(0.3s all);
    @include respond(tab-port) {
      margin: 0.75rem 0;
    }
    &:focus {
      border-bottom: 1.25px solid $primary-color-light;
      @include transition(0.3s all);
    }
    &__date {
      &::before {
        content: attr(placeholder) !important;
        color: #8e8e8e;
        font-family: $tertiary-font;
        margin-right: 0.5em;
      }
      &:focus::before,
      &:valid::before {
        content: "";
      }
    }
    &__select {
      font-family: $tertiary-font;
      background: $light-color;
      color: #8e8e8e;
      & > option {
        color: $text-color;
      }
    }
  }
  &--disabled {
    opacity: 0;
    transform: translate(-50%, -250%);
    @include transition(0.5s all);
  }
  &--active {
    opacity: 1;
    transform: translate(-50%, -50%);
    @include transition(0.5s all);
  }
}
