.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  z-index: 1000;
  background-color: $light-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &-logo {
    font-size: 2.5rem;
    display: inline-block;
    width: 10%;
  }
  &-list {
    width: 90%;
    text-align: right;
    list-style-type: none;
    @include respond(phone) {
      display: none;
    }
    & > a {
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
      display: inline-block;
      margin: auto 1.5rem;
      padding: 1.5rem;
      font-weight: bold;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid transparent;
      transition: 0.2s all;
      cursor: pointer;
      &:hover {
        border-color: $primary-color-light;
        transition: 0.2s all;
      }
    }
  }
  &-bars {
    display: none;
    @include respond(phone) {
      display: block;
      width: 90%;
      text-align: right;
    }
    & > i {
      font-size: 2rem;
      color: $primary-color-light;
    }
  }
  &--transparent {
    background: transparent;
    box-shadow: none;
    color: $light-color;
    @include transition(0.35s all);
  }
  &--color {
    background: $light-color;
    box-shadow: $box-shadow-sm;
    @include transition(0.35s all);
  }
  &--white {
    color: $light-color;
    @include transition(0.35s all);
  }
  &--black {
    color: $text-color;
    @include transition(0.35s all);
  }
}
