.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 1001;
  position: fixed;
  top: 0;
  background: rgba($text-color, 0.65);
  &--disabled {
    opacity: 0;
    transform: translateY(-100%);
    @include transition(0.3s all);
  }
  &--active {
    opacity: 1;
    transform: translateY(0%);
    @include transition(0.3s all);
  }
}
