// $primary-color: #325f80;
$primary-color: #243b71;
$primary-color-light: #02b4c0;
$secondary-color: #c5093b;
$secondary-color-light: #f17e7b;
$secondary-color-extra-light: #fae9e2;
$light-color: white;
$text-color: #222;
$primary-font: "Lato", cursive;
$secondary-font: "Rubik", sans-serif;
$box-shadow-sm: 0 3px 6px rgba($text-color, 0.15),
  0 3px 6px rgba($text-color, 0.25);
$box-shadow-md: 0 10px 20px rgba($text-color, 0.18),
  0 6px 6px rgba($text-color, 0.25);
$box-shadow-lg: 0 14px 28px rgba($text-color, 0.22),
  0 10px 10px rgba($text-color, 0.25);
$box-shadow-transparent: 0 3px 6px rgba(transparent, 0.15),
  0 3px 6px rgba(transparent, 0.25);
